body {
}

#myCanvas {
}

.four-by-four {
    position: relative;
    width: 4in;
    height: 4in;
    background-color: yellow;
}

.four-by-three {
    position: relative;
    width: 4in;
    height: 3in;
    background-color: yellow;
}

.four-by-four div
{
    border:1px solid black;
}
